/* Footer Section*/
#footer {
  // background: #fff;
  background: #202428;

  // padding: 30px 0;
}
#footer p {
  color: rgb(176, 176, 176);
  font-size: 14px;
}
#footer a {
  color: #38b2ac;
}
#footer a:hover {
  border-bottom: 2px solid #38b2ac;
}
